    form {
        margin-top: 32px;
        column-gap: 20px;
    }

    label {
        display: block;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 12px;

        &.required::after {
            content: " *";
            color: var(--color-red);
        }
    }

    input,
    textarea {
        font-family: var(--font-family-base);
        outline: none;
        width: 100%;
        height: var(--input-height);
        padding: 0 23px;
        font-size: 16px;
        color: var(--color-black);
        background-color: #F7F7F7;
        border: 2px solid #E6E8EC2B;
        border-radius: 26px;


        &::placeholder {
            color: var(--color-placeholder);
        }

        &:focus-visible {
            border: 2px solid var(--color-btn);
        }

    }

    textarea {
        min-height: 120px;
        resize: none;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .field-wrapper {
        position: relative;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }


    .add-field,
    .remove-field {
        position: absolute;
        right: -10px;
        bottom: 14px;
        font-size: 0;
        border: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: var(--color-btn);
        border-radius: 50%;



        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 3px;
            background: white;
        }

        &::after {
            rotate: 90deg;
        }
    }

    .remove-field {
        background: var(--color-red);

        &::after {
            display: none;
        }
    }

    /* custom */
    .custom-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        user-select: none;
        position: relative;
        cursor: pointer;
        color: var(--color-black);
        background: var(--color-white);

        /* Скрыть стандартный radio button */
        & input[type="radio"],
        & input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.radiomark {
                border-color: var(--color-blue);

                &::after {
                    opacity: 1;
                }
            }

            &:checked+.checkmark {
                border-color: var(--color-blue);
                background: var(--color-blue);

                &::after {
                    opacity: 1;
                }
            }

            &:checked+.switchmark {
                border-color: var(--color-blue);

                &::after {
                    background: var(--color-blue);
                    transform: translateX(calc(100% + 4px));
                }
            }
        }

        & .radiomark {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            background: var(--transparent);
            border: 2px solid var(--color-black);
            transition: all .3s ease;

            &::after {
                content: "";
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                width: 80%;
                height: 80%;
                opacity: 0;
                background: var(--color-blue);
                border-radius: 50%;
                transition: all .3s ease;
            }
        }

        & .checkmark {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 6px;
            position: relative;
            cursor: pointer;
            background: var(--color-transparent);
            border: 2px solid var(--color-black);

            &::after {
                content: "";
                position: absolute;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: url(../images/icons/check.svg) no-repeat center;
            }
        }

        & .switchmark {
            position: relative;
            width: 48px;
            height: 24px;
            border-radius: 56px;
            border: 1px solid #a4a5a9;
            transition: border-color 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                left: 2px;
                top: 2px;
                display: block;
                min-width: calc(50% - 4px);
                height: calc(100% - 4px);
                border-radius: 50%;
                background: #a4a5a9;
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }

    /* custom */