.header {
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0px 4px 40px 0px #00000040;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 20;
    }

    &__top {
        padding-block: 24px;
        border-bottom: 2px solid #0000000D;

        @include mobile {
            padding-block: 20px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            gap: 20px;
            justify-content: flex-start;

            & .btn-primary {
                margin-left: auto;
                height: 38px;
                padding-inline: 13px 37px;

                & span {
                    right: 8px;
                    @include squere(22px);
                }
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__links {

        @include tablet {
            display: none !important;
        }


    }
}

.contact__links {
    display: flex;
    align-items: flex-start;
    gap: clamp(1.25rem, -13.634rem + 23.26vw, 2.5rem);

    @include tablet {
        padding: 25px 0;
        flex-direction: column;
        gap: 25px;
        border-bottom: 1px solid #D9D9D9;
    }

    & a {
        position: relative;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        gap: 9px;

        @include hover {
            color: var(--color-btn);
        }

        & img {
            max-width: 20px;
        }
    }

    & span {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        margin-left: 30px;
    }
}