.services {
    padding: 92px 0;
    background-color: var(--color-bg);

    @include mobile {
        padding: 32px 0;
    }

    & h2 {
        color: var(--color-white);
    }

    &__list {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px 30px;

        @include laptop {
            margin-top: 30px;
            justify-content: center;
        }

        @include mobile {
            gap: 30px;
        }

        @include phone {}

        & li {
            max-width: calc(33.333% - 20px);
            color: var(--color-white);

            @include laptop {
                max-width: calc(50% - 15px);
            }

            @include mobile {
                padding: 10px 14px;
            }

            @include phone {
                max-width: 100%;
            }

            & .row {
                gap: 15px;
                margin-block: 15px;

                @include mobile {
                    width: 100%;
                    margin: 0 0 25px;
                    gap: 5px;
                }
            }

            & .content {
                display: flex;
                align-items: flex-start;
                gap: 27px;

                // @include mobile {
                //     gap: 20px;
                //     flex-direction: column;
                // }
            }

            & img {
                max-width: 86px;
            }


            & h3 {
                max-width: 160px;

                @include mobile {
                    max-width: none;
                }
            }

            & p {
                font-size: 16px;
                color: #FFFFFF99;
            }

            & .btn-small {
                top: 18px;
                right: 21px;
            }
        }
    }
}