//width main container
$container: 1110;

:root {

    /*colors*/
    --color-black: #000000;
    --color-dark: #323232;
    --color-text: #1B191FB2;
    --color-white: #ffffff;

    --color-btn: #146F60;
    --color-bg: #1B403A;
    --color-green: #2A4B40;
    --color-green-alt: #3B584E;

    --color-yellow: #CFCB0D;
    --color-red: #DB0737;

    --color-gray: #847D7D;
    --color-placeholder: #777E90;

    --color-transparent: transparent;
    --color-shadow: rgba(22, 28, 45, 0.05);
    /*colors*/

    /*border*/
    --border: 2px solid var(--color-black);
    --border-radius: 20px;
    --border-radius-small: 10px;
    --border-radius-large: 30px;
    /*border*/

    /*body*/
    --font-family-base: "Gilroy", serif;

    --container-width: #{$container}px;
    --container-padding-x: 20px;
    --section-padding-y: 20px;
    /*body*/

    /*button*/
    --input-height: 52px;
    --button-height: 52px;
    --icon-button-height: 50px;

    --transition-duration: 0.3s;
    /*button*/
}